html {
	box-sizing: border-box;
}
header{
    height: 5%;
    background-color:transparent, rgba(46, 61, 73, 0.5);
    text-align: center;
    vertical-align: center;
    margin-bottom: 1%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container{
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row
}

html,
body {
    display: inline-block;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: avengers-font;
    src: url(./assets/images/avengeance-heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER\ BD.ttf);
  }

body {
    background: black;
    background-image: url(./assets/images/avengers_endgame_memory_background.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: avengers-font,fantasy;
    color: white;
    text-shadow: 8px 5px black;
	font-size: 2rem;
}

aside{
    background-color: rgba(141, 65, 228, 0.7);
    border-radius: 7px;
    display: inline-block;
    margin: 10% 2%;
}

main {
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.deck {
	width: 50%;
    background: #716F71;
    background-image: url(./assets/images/gifs/blue\ energy.gif);
    background-position: center;
    background-size: cover;
	padding: 0.5rem;
	border-radius: 5px;
	box-shadow: 10px 10px 10px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.deck .card .back{
	height: 9rem;
	width: 9rem;
	margin: 0.25rem 0.25rem;
	background: #141214;
	font-size: 0;
    color: #ffffff;
    background-image: url(./assets/images/avengers_logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 10px 10px 0 rgba(46, 61, 73, 0.5);
}

.card:hover{
    background-color: white;
    opacity: 0.7;
}

.card {
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 9rem;
	width: 9rem; 
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    background-position: top;
    border-radius: 5px;

}
.back {
    backface-visibility: hidden;
}
.isFlipped {
    transform: rotateY(180deg);
}

.stats-panel{
    border: #141214 solid 1px;
    background-color: rgba(168, 122, 170, 0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 2.25rem
}

.stones-container{
    display: flex;
    flex-direction: row;
    height: 3rem;
}
.stone{
    height: 2.75rem;
    width: 3rem;
    background-position: center;
    background-size: cover;
    margin-left: 2rem;
}
.power{
    
    background-image: url(./assets/images/power-stone.png)
}
.time{
    background-image: url(./assets/images/time-stone-in-hand.png)
}
.space{
    background-image: url(./assets/images/space-stone.png)
}
.shadow{
    opacity: 0.2;
}